<!-- <h3>View Details</h3>
<div >
    <div>
        <label><b>Id: </b></label> {{admin1.id}}
    </div>
    <div>
        <label><b>Name: </b></label> {{admin1.name}} {{admin1.surname}}
    </div>
    <div>
        <label><b>:DOB </b></label> {{admin1.dob}}
    </div>
    <div>
        <label><b>Gender: </b></label> {{admin1.gender}}
    </div>
    <div>
        <label><b>Mobile No.: </b></label> {{admin1.phone}}
    </div>
    <div>
        <label><b>Aadhar No.: </b></label> {{admin1.aadhar}}
    </div>
    <div>
        <label><b>Email Id: </b></label> {{admin1.email}}
    </div>
    <div>
        <label><b>Address: </b></label> {{admin1.address}}
    </div>
    <div>
        <label><b>Country: </b></label> {{admin1.country}}
    </div>
    <div>
        <label><b>State: </b></label> {{admin1.state}}
    </div>
    <div>
        <label><b>Connection Type: </b></label> {{admin1.connectionType}}
    </div>
    <div>
        <label><b>Connection Plan: </b></label> {{admin1.connectionPlan}}
    </div>
    <div>
        <label><b>Monthly Speed: </b></label> {{admin1.speed}}
    </div>
    <div>
        <label><b>Monthly Data: </b></label> {{admin1.data}}
    </div>
    <div>
        <label><b>Monthly Rent: </b></label> {{admin1.rent}}
    </div>
    
    
</div> -->